.footer-banner{
  background-color: #14a85c;
  height: 200px;
  width: 100%;
}
.footer-banner img{
  padding-top: 20px;
}
.footer-banner_addres a{
  font-size: 13px;
  color: #fff;
}
.footer-banner_addres{
  padding-top: 15px;
  text-align: center;
}
.footer-banner{
  .footer-arrow{
   fieldset{
     padding: 0px 5px 6px 5px;
     margin-left: 40px;
     margin-top: 20px;
    }
    legend{
      position: absolute;
      right: 5%;
      top: 94%;
      a{
        color: #fff;
        display: inline-block;
        padding: 2px 7px 2px 7px;
        background: #d44b38;
        border: 1px solid #fff;
      }
    }
  }
  p{
    color: #fff;
    padding: 5px 5px 5px 15px;
  }
}
.footer{
  width: 100%;
  background-color: #4e4e4e;
  p{
    color: #fff;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
  .fa-pinterest{
    padding: 7px;
    background-color: #f53f3f;
  }
  .fa-pinterest:hover{
    border-radius: 15px;
  }
  .fa-twitter{
    padding: 7px;
    background-color: #598dc6;
  }
  .fa-twitter:hover{
    border-radius: 15px;
  }
  .fa-facebook-official{
    padding: 7px;
    background-color: #496194;
  }
  .fa-facebook-official:hover{
    border-radius: 15px;
  }
  .social-item{
    padding-left: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .footer-banner{
    display: none;
  }
  .footer{
    background-color: #14a85c;
    .social {
      display: none;
    }
  }
}
