.main-head{
  .bgDarken{
    background-color: $bgColorPrimaryDark;
  }

  .icon-call {
    background: url(../../img/sprite.png) 0px -527px;
    width: 36px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
  }
  .icon-toll {
    background: url(../../img/sprite.png) 0px 0px;
    width: 35px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
  }
  span{
    @include font(18px, white, 400, $font-regular);
    line-height: 1;
    vertical-align: middle;
  }
  a{
    @include font(22px, white, 400, $font-regular);
    line-height: 1;
    vertical-align: middle;
  }
}
.header-main-menu{
  background-image: url(../../img/header-line1.png);
  background-repeat: no-repeat;
  background-size: 23%;
}
.logo img{
  padding-top: 10px;
  width: 100%;
  padding-bottom: 10px;
}
.main-menu ul{
}
.main-menu ul li{
  list-style: none;
  float: left;
  padding: 30px 5px 0px 5px;
}
.main-menu ul li a{
  font-size: 11px;
  color: #000;
  text-decoration: none;
}
.main-menu ul li a:hover{
  color: #e84c3d;

  border-bottom: 2px solid #e84c3d;
}
.top-social{
  p{
    color: #fff;
    display: inline-block;
  }
  a{
    color: #fff;
    vertical-align: baseline;
    text-decoration: none;
  }
  .fa-pinterest{
    padding: 7px;
    background-color: #f53f3f;
  }
  .fa-pinterest:hover{
    border-radius: 15px;
  }
  .fa-twitter{
    padding: 7px;
    background-color: #598dc6;
  }
  .fa-twitter:hover{
    border-radius: 15px;
  }
  .fa-facebook-official{
    padding: 7px;
    background-color: #496194;
  }
  .fa-facebook-official:hover{
    border-radius: 15px;
  }
  .social{
    padding-left: 50px;
  }
}


/*  PAGE:  ABOUT US    */
.about-us-h2-background{
  background: url(../../img/header-line2.png) 298px -11px no-repeat;
  background-size: 9%;
  background-color: #14a85c;
  h2{
    text-align: center;
    color: #fff;
  }
}

