$screenColor: test;
//body > main > section > div > div > div > div.col-md-4.HiW-block-center > div.HiW-text

.main-image{
  background-color: #86ea8f;
}
.main-image-item {
  background: url(../../img/boy.png)0px 18px
  no-repeat,url(../../img/light.png) 306px 60px
  no-repeat,url(../../img/book.png) 100% -30px no-repeat;
  background-size: auto;
  height: 420px;
  h2{
    padding-top: 15px;
    padding-left: 80px;
    color: #fff;
    font-size: 40px;
  }
  h3{
    font-size: 24px;
    color: #fff;
    margin-left: 160px;
  }
  h4{
    padding-left: 80px;
  }
  p{
    padding-left: 80px;
  }
}
.main-image-item_btn-live-chat{
  a {
    display: inline-block;
    border: 1px solid #fff;
    background-color: #14a85c;
    padding: 2px 0 10px 20px;
    width: 175px;
    font-size: 15px;
    margin-top: 55px;
    color: #fff;
  }
  a:hover {
    background-color: #e84c3d;
    text-decoration: none;
  }
  i{
    font-size: 30px;
  }
}
.main-image-item_btn-order {
  margin-left: 310px;
  a {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 20px 35px;
    text-decoration: none;
    background: #d44b38;
    font-size: 15px;

  }
  a:hover{
    display: inline-block;
    background-color: #fab916;
    border: 1px solid #333333;
    text-decoration: none;
  }
}

.main-head_green-line{
  height: 52px;
  background-color: #14a85c;
  p{
    color: #fff;
  }
  a{
    color: #fff;
    display: inline-block;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 30px;
    padding: 5px 30px 5px 30px;
    border: 1px solid #fff;
    text-decoration: none;
  }
}


.h-i-w {
  @if $screenColor == standart {
    background-color: $bgColorPrimaryLight;
  } @else if $screenColor == day {
    background-color: #e84c3d;
  } @else if $screenColor == night {
    background-color: #3d3d3d;
  } @else {
    background-color: #86ea8f;
  }
  margin-bottom: 40px;
  h2 {
    @include font(36px, #fff, 400, $font-regular);
    text-align: center;
    margin: 60px 0 60px 0;

    @include notebook {
      @include font(60px, #acbbca, 400, $font-regular);
      background-color: red;
      font-size: convertToEm(36px);
    }
    @include tablet {
      @include font(18px, #ccc, 700, $font-regular);
    }
  }
  .HiW-block {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #cccccc;
    background-color: #e84c3d;
    text-align: center;
    &:before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid #333333;
      background-color: #14a85c;
      border-radius: 50%;
      position: relative;
      top: 13px;
      left: 2px;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 2px;
      height: 63px;
      background-color: $itemColor1;
      margin-top: 68px;
      position: relative;
      right: 6px;
    }
  }
  .HiW-text {
    @include font(16px, $bgColorFooter - #111, 400, $font-regular);
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 10px;
    span {
      @include font(14px, white, 700, $font-bold);
      display: inline-block;
      &:hover {
        color: red;
        cursor: pointer;
      }
    }
  }

  .border-bottom {
    border-bottom: 1px dashed $itemColor1;
  }
  .HiW-block-center {
    text-align: center;
  }
  .HiW-block-right {
    text-align: right;
    .round-green {
      margin: -6px 184px -7px;
    }
  }
}

.h-i-w {
  .HiW-text-top {
    font-size: 16px;
    color: #3d3d3d;
    font-weight: 400;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 15px;
    margin-left: 10px;
  }

}
.h-i-w {
  .HiW-block-top {
    display: inline-block;
    background-color: #e84c3d;
    width: 70px;
    padding-left: 25px;
    height: 70px;
    border-bottom-color: #e84c3d;
    &:before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid #333333;
      background-color: #14a85c;
      border-radius: 50%;
      position: relative;
      top: 13px;
      left: 2px;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 2px;
      height: 63px;
      background-color: $itemColor1;
      margin-top: 68px;
      position: relative;
      right: 6px;
    }
  }
  .HiW-block-bottom-left{
    transform: rotate(180deg);
    margin-right: 290px;

  }
  .HiW-block-bottom-right{
    transform: rotate(180deg);
    margin-right: 330px;

  }
}

/* CONTENT */
.our_advantages {
  a {
    display: block;
    width: 100%;
    height: 162px;
    margin-top: 15px;
    background: url("../../img/sprite.png") center -2077px no-repeat $bgColorPrimaryLight;
    &:hover {
      background: url("../../img/sprite.png") center -1543px no-repeat $secondaryColor;
    }
    p {
      margin: 0;
      padding-top: 30%;
    }
  }
  text-align: center;
  h2 {
    text-align: center;
  }
  .icons2{
    background: url(../../img/sprite.png) center -2605px no-repeat #86ea8f;
    &:hover {
      background: url("../../img/sprite.png") center -1543px no-repeat $secondaryColor;
    }
  }
  .icons3{
    background: url(../../img/sprite.png) center -4220px no-repeat #86ea8f;
  }
  .icons4{
    background: url(../../img/sprite.png) center -1000px no-repeat #86EA8E;
  }
  .icons5{
    background: url(../../img/sprite.png) center -3140px no-repeat #86ea8f;
  }
  .icons6{
    background: url(../../img/sprite.png) center -3680px no-repeat #86EA8E;
  }
}


.our_advantages h1 {
  text-align: center;
  padding-right: 120px;
  padding-left: 120px;
}

.main-content-text p {
  column-count: 2;
}

.main-content_bottom-text {
  ul {
    list-style: none;
  }
  li:before {
    content: "\f105";
    font-family: $font-awesome;
    font-size: large;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    color: $secondaryColor;
  }
}

.main-content_bottom-text a {
  display: inline-block;
  background-color: #86ea8f;
  color: #fff;
  padding: 10px 20px 10px 20px;
  margin-left: 215px;
  margin-top: 25px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {

  .main-image-item {
    background: url(../../img/book.png) -162px -30px no-repeat,url(../../img/light.png) -434px 62px no-repeat,url(../../img/book.png) 190px -30px no-repeat;
    background-size: auto;
    height: 420px;
    h2{
      padding-left: 0px;
      font-size: 20px;
    }
    h3{
      margin-left: 0px;
      font-size: 20px;
    }
    h4{
      padding-left: 0px;
    }
    p{
      padding-left: 0px;
    }
  }
  .main-head_green-line{
    display: none;
  }
  .main-image-item_btn-live-chat{
    display: none;
  }
  .main-image-item_btn-order {
    margin-left: 0px;
  }
  .our_advantages h1 {
     padding-right: 0px;
     padding-left: 0px;
    font-size: 15px;
  }
  .main-content_bottom-text a {
    display: none;
  }
}