<div class="container-fluid page404">
    <div class="container">
        <div class="row">
            <h2>404</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <section class="page404_item">
                <h1><strong>404</strong></h1>
                <h2>PAGE NOT FOUND</h2>
                <h3>THE LINK YOU FOLLOWED <br>  IS PROBABLY BROKEN OR <br>  THE PAGE HAS BEEN <br> REMOVED</h3>
                <a href="#!" class="btn-back">BACK</a><br>
                <a href="#!" class="btn-home">HOME</a>
            </section>
        </div>
    </div>
</div>