<footer>
    <div class="container-fluid footer-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="../img/bg_logo.png" alt="Logo">
                    <nav class="footer-banner_addres">
                        <a href="tel://+1-044-147-0235">Call now: +1-044-147-0235</a><br>
                        <a href="mail://companyname@gmail.com">Email: companyname@gmail.com</a><br>
                        <a href="mail://companyname@gmail.com">Email: companyname@gmail.com</a>
                    </nav>
                </div>
                <div class="col-md-9">
                    <div class="footer-arrow">
                        <fieldset>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Animi aperiam corporis dignissimos ex explicabo iste molestias rerum unde voluptate voluptatum!
                                Illum praesentium saepe voluptatem voluptatibus. Accusantium animi doloremque iste mollitia quia reprehenderit sunt.
                                Adipisci animi consequatur mollitia possimus quam quos totam voluptatum.
                                Earum eos ipsum itaque laboriosam nesciunt nostrum rerum sapiente, similique.
                                Dolor eaque mollitia necessitatibus perferendis, quia sapiente suscipit ut.
                                Asperiores autem explicabo fugiat itaque officia qui suscipit voluptate.
                            </p>
                            <legend><a href="#"><i class="fa fa-arrow-down" aria-hidden="true"></i></a></legend>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 social">
                    <p>Join us:
                        <span class="social-item">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        </span>
                    </p>
                </div>
                <div class="col-md-7 col-md-offset-2">
                    <p>Copyright © 2016 CompanyName.com</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/main.js"></script>
</body>
</html>
