<main>
    <div class="container-fluid main-image">
        <div class="container main-image-item">
            <div class="col-md-3 col-lg-3">
                <span class="main-image-item_btn-live-chat">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>
                    > LIVE CHAT</a>
                </span>
            </div>
            <div class="col-md-8  col-lg-8">
                <h2>CUSTOM WRITING SERVICE </h2>
                <h3>THE KEY TO SUCCES</h3>
                <h4>YOU ARE AT RIGHT PLACE!</h4>
                <p>EssayService.com is a top quality <br>  writing service</p>
                <span class="main-image-item_btn-order">
                    <a href="#">ORDER  NOW</a>
                </span>
            </div>
        </div>
    </div>
    <div class="container-fluid main-head_green-line">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <p>Special Offer: Get limited discounts on the first order</p>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <a href="#">THE LIST OF DISCOUNTS</a>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid our_advantages">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Our Advantages</h2>
                </div>
                <div class="col-md-4">
                    <a href="#" class="block1 icons1">
                        <p>Any academic level</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="block2 icons2">
                        <p>Over 300 words per page</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="block3 icons3">
                        <p>Free plagiarism report</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="block4 icons4">
                        <p>20% off your first order</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="block5 icons5">
                        <p>Direct communication with the writer</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="block6 icons6">
                        <p>Flexible discount program</p>
                    </a>
                </div>
                <div class="col-md-12">
                    <h1>COMPANYNAME.COM HAS COME FORWARD  TO PROVIDE YOU WITH HIGH QUALITY PAPERS</h1>
                </div>
                <div class="col-md-12 main-content-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate dignissimos doloribus expedita ipsam laboriosam minus, natus nihil, non officia provident quam sit.
                        Adipisci animi architecto at, consequuntur cupiditate dolore eaque earum exercitationem, facilis hic illo in ipsum itaque labore laudantium maxime modi officia placeat provident quasi qui quibusdam, quis quos reiciendis repellat repellendus rerum sed sit sunt vero?
                        Amet harum inventore laboriosam maxime, nostrum officia placeat tempore voluptatibus!
                        Architecto error illum nobis praesentium reprehenderit totam vitae?
                        A aspernatur consequuntur culpa deleniti distinctio ducimus, est eum expedita, explicabo fugiat inventore iusto modi molestias nihil obcaecati quibusdam saepe, sequi similique temporibus voluptas.
                        Est exercitationem molestiae ratione voluptatum.
                        Aperiam asperiores deserunt ea earum esse exercitationem ipsa magnam pariatur quo ratione, soluta, ullam voluptas voluptates.
                        Ad aliquid animi at beatae blanditiis cupiditate, delectus distinctio fuga harum hic nesciunt nihil possimus, provident quo ratione reiciendis reprehenderit saepe sapiente tempora temporibus, ullam velit vitae voluptas.
                        Alias aperiam autem ducimus eligendi excepturi iusto magni minus non quidem ullam!
                        Adipisci animi aperiam aspernatur commodi consequatur, debitis dolorem eaque error facilis harum laudantium,
                        mollitia natus neque nostrum odio officia qui quia quidem quod reiciendis reprehenderit sint tempore tenetur veniam vero voluptas voluptatibus?
                        Architecto asperiores autem blanditiis eos sequi soluta.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate dignissimos doloribus expedita ipsam laboriosam minus, natus nihil, non officia provident quam sit.
                        Adipisci animi architecto at, consequuntur cupiditate dolore eaque earum exercitationem, facilis hic illo in ipsum itaque labore laudantium maxime modi officia placeat provident quasi qui quibusdam, quis quos reiciendis repellat repellendus rerum sed sit sunt vero?
                        Amet harum inventore laboriosam maxime, nostrum officia placeat tempore voluptatibus!
                        Architecto error illum nobis praesentium reprehenderit totam vitae?
                        A aspernatur consequuntur culpa deleniti distinctio ducimus, est eum expedita, explicabo fugiat inventore iusto modi molestias nihil obcaecati quibusdam saepe, sequi similique temporibus voluptas.
                        Est exercitationem molestiae ratione voluptatum.
                        Aperiam asperiores deserunt ea earum esse exercitationem ipsa magnam pariatur quo ratione, soluta, ullam voluptas voluptates.
                        Ad aliquid animi at beatae blanditiis cupiditate, delectus distinctio fuga harum hic nesciunt nihil possimus, provident quo ratione reiciendis reprehenderit saepe sapiente tempora temporibus, ullam velit vitae voluptas.
                        Alias aperiam autem ducimus eligendi excepturi iusto magni minus non quidem ullam!
                        Adipisci animi aperiam aspernatur commodi consequatur, debitis dolorem eaque error facilis harum laudantium,
                        mollitia natus neque nostrum odio officia qui quia quidem quod reiciendis reprehenderit sint tempore tenetur veniam vero voluptas voluptatibus?
                        Architecto asperiores autem blanditiis eos sequi soluta.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <section class="h-i-w">
        <div class="container-fluid">
            <div class="container">
                <div class="row border-bottom">
                    <div class="col-xs-12">
                        <h2>How it works{h2}</h2>
                    </div>
                    <div class="col-md-4">
                        <div class="HiW-block"></div>
                        <div class="HiW-text">1. Place Your<br> Order
                            <span>Some text</span>
                        </div>
                        <div class="round-green"></div>
                    </div>
                    <div class="col-md-4 HiW-block-center">
                        <div class="HiW-block"></div>
                        <div class="HiW-text">3. Your Order is<br> Completed</div>
                        <div class="round-green"></div>
                    </div>
                    <div class="col-md-4 HiW-block-right">
                        <div class="HiW-block"></div>
                        <div class="HiW-text">5. Download</div>
                        <div class="round-green"></div>
                    </div>
                </div>
                <div class="row border-top">
                    <div class="col-md-6">
                        <div class="HiW-block-bottom-left">
                            <div class="HiW-block-top"></div>
                            <div class="HIW-text-top">
                                <p></p>
                            </div>
                            <div class="round-yellow"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="HiW-block-bottom-right">
                            <div class="HiW-block-top"></div>
                            <div class="HIW-text-top">
                                <p></p>
                            </div>
                            <div class="round-yellow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid main-content_bottom-text">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Ordering a Paper  at Company.com Is Worth It</h2>
                    <ul>
                        <li>Any type of writing paper assigment - from hight school essay to university term paper.Our writers always follow  the customers requirements very carefully</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nesciunt.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, veniam?</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, vel!</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, sint.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, unde?</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, neque?</li>
                    </ul>
                    <a href="#">READ MORE</a>
                </div>
                <div class="col-md-6">
                    <h2>CompanyName.com  is the best Essay Writing Service</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Accusamus autem commodi consequuntur harum ipsa libero nesciunt nisi voluptas.
                        Aperiam doloribus est ipsum libero magni qui temporibus? Aliquam animi commodi consectetur distinctio dolor dolore doloremque dolorum eos ex expedita hic nihil officiis pariatur possimus quaerat quam, quasi quo quos ratione repellat reprehenderit tenetur, ullam!
                        Assumenda consequuntur eos esse fugiat non nostrum odio velit voluptate.
                        Animi atque aut error minima nam, neque quam quidem quisquam, sunt suscipit temporibus ut vero.
                        Aut fuga fugiat harum modi molestias nihil nulla officiis placeat possimus similique!
                        Aliquid deserunt dolore illo officiis quidem! Aspernatur cum non unde?
                    </p>
                    <a href="#">READ MORE</a>
                </div>

            </div>
        </div>
    </div>

</main>
