.page404{
  background: url(../../img/header-line2.png) 289px -18px no-repeat #14a85c;
  background-size: 11%;
  h2{
    text-align: center;
    color: #fff;
  }
}
.page404_item{
  background: url(../../img/boy.png) 0 18px no-repeat,
  url(../../img/light2.png) 272px 56px no-repeat,
  url(../../img/book.png) 95% -30px no-repeat;
  background-size: auto;
  height: 550px;
  text-align: center;
  h1{
    padding-top: 40px;
    font-size: 50px;
  }
  h2{
    font-size: 30px;
  }
  h3{
  }
  a{
    text-decoration: none;
  }
  .btn-back{
    display: inline-block;
    padding: 5px 25px 5px 25px;
    background-color: #14a85c;
    color: #fff;
    &:hover{
      display: inline-block;
      padding: 5px 22px 5px 22px;
      border: 1px solid #14a85c;
      background-color: #fff;
      color: #14a85c;
    }
  }
  .btn-home{
    display: inline-block;
    padding: 5px 22px 5px 22px;
    border: 1px solid #14a85c;
    margin-top: 5px;
    color: #14a85c;
    &:hover{
      display: inline-block;
      padding: 5px 25px 5px 25px;
      background-color: #14a85c;
      color: #fff;
    }
  }
}