/*  PAGE:  ABOUT US    */
.about-us_h2-why-we-are {
  h2 {
    color: #030;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
}
.about-us-h2_ul-block{
  h3{
    height: 70px;
    background-color: #14a85c;
    text-align: center;
    padding-top: 25px;
  }
  ul{
    background-color: #eaedf2;
    list-style: none;
    margin-top: -15px;
  }
  li:before{
    content: "\f105";
    font-family: $font-awesome;
    font-size: large;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    color: $secondaryColor;
  }
}
.about-us_h3-why-choose-us{
  h3{
    color: #fff;
    height: 71px;
    background-color: #14a85c;
    text-align: center;
    padding-top: 25px;
  }
  ul{
    background-color: #86ea8f;
    list-style: none;
    margin-top: -16px;
  }
  li:before{
    content: "\f105";
    font-family: $font-awesome;
    font-size: large;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    color: #fff;
  }
}
.about-us_why-us{
  h2{
    text-align: center;
  }
  h3{
    text-align: center;
  }
  p{}
  a{
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 20px 35px;
    text-decoration: none;
    background: #d44b38;
    font-size: 15px;

  }
  a:hover{
    display: inline-block;
    background-color: #fab916;
    border: 1px solid #333333;
    text-decoration: none;
  }
  .about-us_why-us_btn{
    text-align: center;
  }
}
.about-us_about-us{
  h2{
    text-align: center;
    color: #000000;
  }
  p{
    color: #003300;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 24.39px;
  }
  a{
    font-family: "Montserrat Light";
    font-weight: 300;
    color: #003300;
    text-decoration: none;
  }
  address{
    color: #003300;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
  }
}
.about-us_contact-form{
  width: 75%;
  h3{
    background-color: #14a85c;
    text-align: center;

  }
  .about-us_contact-form-item{
    margin-top: -17px;
    background-color: #86ea8f;
    form{
      margin-left: 35%;
      padding: 30px 0px 30px 5px;
      input{
        margin-top: 10px;
      }
      p{
        display: inline-block;
      }
      &:nth-child(n+1){
        padding-right: 25px;
      }
      &:nth-child(n+2){
        padding-right: 60px;
      }
      &:nth-child(n+3){
        padding-right: 40px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .about-us_contact-form{
    display: none;
  }
  .about-us-h2_ul-block{
    h3{
      padding-top: 0px;
    }
  }
  .about-us_phone-number_item{
    padding-left: 15% !important;
  }
  .about-us_phone-number{
    display: none;
  }
}
.about-us_phone-number{
  background-color: #eaedf2;
  text-align: center;
  margin: 25px 0px;
  .main-image-item_btn-live-chat2{
    a {
      display: inline-block;
      border: 1px solid #fff;
      background-color: #14a85c;
      padding: 2px 0 10px 20px;
      width: 175px;
      font-size: 15px;
      margin-left: 10%;
      margin-top: -5px;
      margin-bottom: 7px;
      color: #fff;
    }
    a:hover {
      background-color: #e84c3d;
      text-decoration: none;
    }
    i {
      font-size: 30px;
    }
  }
  .about-us_phone-number_item{
    list-style: none;
    padding-left: 40%;
    li{
      float: left;

    }
  }
}